@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300..600&display=swap");

:root {
  --primary-color: #7e79f0;
}

#sleak-hmtl * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

#sleak-widgetwrap {
  pointer-events: none;
  z-index: 999999999;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 0;
  width: 100%;
  height: 100%;
}

#sleak-widget-container {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .3s cubic-bezier(.4, 0, .2, 1);
  min-height: 500px;
  box-sizing: border-box;
  z-index: 999999;
}

#sleak-mobile-handle {
  z-index: 9999;
  position: absolute;
  top: 0;
  display: none;
  cursor: grab;
  width: calc(100% - 160px);
  justify-content: center;
  align-items: start;
  padding: 10px 0;
  padding-bottom: 40px;
  margin: 0 80px;
}

#sleak-mobile-handle span {
  display: inline-block;
  width: 64px;
  height: 4px;
  background-color: #fff;
  border-radius: 24px;
  opacity: .6;
}

#sleak-body-embed {
  display: none;
  box-shadow: 0 25px 50px -12px #00000040;
  height: 100%;
  border-radius: 20px;
  width: 100%;
  overflow: hidden;
  z-index: 999999;
  max-height: 85%;
  max-width: 80%;
  opacity: 0;
  transform: translateY(12px);
  transition: all .3s cubic-bezier(.4, 0, .2, 1), border .0s ease-in, border-radius .0s ease-in;
  pointer-events: none;
  position: relative;
  box-sizing: border-box;
}


#popup-list-wrap {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  bottom: 98px;
  transition: height linear;
}

#popup-list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 6px;
  height: auto;
  width: auto;
  align-items: end;
  transition: all .3s ease-in-out;
}

#sleak-loader-container {
  background-color: #fff;
  display: none;
  justify-content: center;
  align-items: center;
  border: 1px solid #f3f3f3;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 20px;
  padding: 6px 10px;
}

.sleak-loader {
  background-color: #fff;
  color: grey;
}

#sleak-loader {
  position: absolute;
  height: 16px;
  width: 16px;
  align-self: center !important;
}

@keyframes blink {
  33% {
    opacity: 0.5;
    transform: translateY(0px);
  }
  66% {
    opacity: 1;
    transform: translateY(-3px);
  }
}
.sleak-loading-dot {
  animation: 1s blink infinite;
  opacity: 0.5;
  fill: var(--primary-color);
}
.sleak-loading-dot:nth-child(2) {
  animation-delay: 250ms;
}
.sleak-loading-dot:nth-child(3) {
  animation-delay: 500ms;
}

#sleak-operatorchanged-popup {
  display: none;
  align-items: center;
  background-color: #fff;
  border: 1px solid #f5f5f5;
  border-radius: 14px;
  padding: 6px 10px;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  gap: 6px;
  width: auto;
  cursor: pointer;
  z-index: 9999999999;
  pointer-events: auto;
}

#sleak-operatorchanged-popup img{
  height: 20px;
  width: 20px;
}

#sleak-operatorchanged-text {
  color: #b3b3b3; /* Default text color */
  font-size: 11px;
  line-break: none;
  white-space: nowrap;
}

#sleak-operatorchanged-name {
  font-weight: 600;
  color: #757575 !important;
}

.sleak-popup-embed {
  display: none;
  z-index: 9999999999;
  pointer-events: auto;
  cursor: pointer;
  height: auto;
  width: 100%;
  max-width: 300px;
  border: 1px solid #f5f5f5;
  background-color: #fff;
  align-items: flex-end;
  align-content: flex-end;
  border-radius: 20px;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.sleak-popup-embed-container {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  padding: 14px 18px;
  gap: 8px;
  position: relative;
}

.sleak-popup-embed-headercontainer {
  display: flex;
  width: 100%;
  max-width: 100%;
  justify-content: space-between;
}

.sleak-popup-embed-header {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 6px;
  height: max-content;
  width: calc(100% - 24px);
}

.sleak-popup-embed-headerwrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.sleak-popup-embed-avatar {
  border-radius: 99px;
  height: 16px;
  width: 16px;
}

.sleak-popup-embed-agentname {
  font-size: 12px;
  line-height: 16px;
  color: #757575;
  font-weight: 500;
  max-width: 200px;
  min-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sleak-popup-embed-closebtn {
  position: absolute;
  right: 12px;
  top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease-in-out .3s;
}
.sleak-popup-embed-closebtn:hover {
  opacity: .7;
}

.sleak-popup-embed-closebtn-icon {
  opacity: 0.6;
  height: 18px;
  width: 18px;
}

.sleak-popup-embed-body {
  max-height: none;
  min-height: auto;
  color: #666;
  font-size: 12px;
  line-height: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.sleak-popup-embed-statuswrap {
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

.sleak-popup-embed-statusindicator {
  height: 4px;
  width: 4px;
  border-radius: 99px;
  background-color: #48e385;
  outline: 2px solid rgba(72, 227, 133, 0.3);
}

.sleak-popup-embed-statuswrap-text {
  color: rgba(51, 51, 51, 0.8);
  font-size: 8px;
  line-height: 12px;
  font-style: normal;
  font-weight: 300;
}

.sleak-popup-chatinput-input-wrapper {
  position: fixed;
  display: none;
  align-items: center;
  width: 300px;
  height: auto;
  border: 1px solid #f5f5f5;
  border-radius: 20px;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer !important;
  z-index: 99999;
  opacity: 0;
  transform: scale(0.8);
  pointer-events: auto;
  bottom: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.sleak-popup-chatinput-input-wrapper button {
  border: none !important;
}

.sleak-popup-chatinput-input-wrapper textarea {
  resize: none;
  cursor: pointer;
}

.sleak-popup-chatinput-input-wrapper textarea:active {
  outline: 1px solid var(--primary-color) !important;
}
.sleak-popup-chatinput-input-wrapper textarea:focus-visible {
  outline: 1px solid var(--primary-color) !important;
}
.sleak-popup-chatinput-input-wrapper:hover {
  transform: scale(1.03) !important;
}

#sleak-popup-chatinput-widget-textarea {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 16px 16px 16px 20px;
  text-align: left;
  font-size: 14px;
  color: #333;
  line-height: 22px;
  border: none;
  border-radius: 20px;
}

#sleak-popup-chatinput-widget-textarea::placeholder {
  font-style: italic;
}

#sleak-popup-chatinput-send-button-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding-right: 15px;
  padding-left: 10px;
  min-height: 62px;
  border: none !important;
}

#sleak-popup-chatinput-submit-message-form-button {
  position: absolute;
  right: 14px;
  width: 32px;
  height: 32px;
  min-height: 32px;
  min-width: 32px;
  padding: 6px 12px;
  background-image: url("https://cdn.sleak.chat/assets/sendbutton.svg");
  background-size: 17px;
  background-repeat: no-repeat;
  background-position: 44% 44%;
  background-color: var(--primary-color);
  border-radius: 8px;
  cursor: pointer;
  pointer-events: none;
}

@media screen and (max-width: 480px) {

  #sleak-widget-container {
    inset: 0 !important;
    width: 100% !important;
    height: max-content !important;
    transition: unset;
  }

  #sleak-widgetwrap {
    z-index: 999999999 !important;
    width: 100vw;
    height: 100% !important;
    height: -webkit-fill-available;
    background-color: rgba(0, 0, 0, 0);
    flex-direction: column;
    justify-content: flex-end;
    display: flex;
    max-height: unset !important;
    box-shadow: unset;
  }

  #sleak-widget-iframe {
    z-index: 1;
    height: 100svh !important;
    height: -webkit-fill-available;
    width: 100vw !important;
    min-width: 100vw;
    border-radius: 20px 20px 0 0;
    border: solid 0px #e6e6e6 !important;
    max-height: calc(100svh * 0.95);
    transition: none !important;
  }

  #sleak-bgoverlay {
    z-index: -1;
    width: 100%;
    height: 150%;
    max-height: none;
    max-width: none;
    min-height: 100%;
    min-width: 100%;
    background-color: rgba(255, 255, 255, 1);
    display: none;
    position: fixed;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: 0;
    overflow: hidden;
  }

  #sleak-body-embed {
    display: none;
    z-index: 999999999999999999;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    z-index: 1;
    max-width: unset !important;
    max-height: unset !important;
    height: max-content !important;
    border: solid 0px #e6e6e6 !important;
    align-items: flex-end;
    box-shadow: 0 0 0 200vw rgba(0, 0, 0, 0.5);
    overflow: unset !important;
    transition: transform .3s cubic-bezier(.4, 0, .2, 1), opacity .3s cubic-bezier(.4, 0, .2, 1), border .0s ease-in, border-radius .0s ease-in;
  }

  #sleak-body-embed:focus {
    margin-bottom: 0;
  }

  #sleak-mobile-handle {
    display: flex;
  }

  .sleak-popup-chatinput-input-wrapper {
    width: 240px;
  }
}