:root {
  --sleak-loading-dot-color: #7e79f0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#sleak-container {
  all: initial;
}

#sleak-buttonwrap {
  z-index: 9999999999999999;
  opacity: 0;
  user-select: none;
  cursor: pointer;
}

#sleak-buttonwrap img {
  user-select: none;
  pointer-events: none;
}

#sleak-btn-container {
  z-index: 9;
  width: auto;
  height: auto;
  justify-content: center;
  /* align-items: center;
  margin-bottom: 30px;
  margin-right: 30px; */
  display: flex;
  position: static;
  top: auto;
  bottom: 30px;
  left: auto;
  right: 30px;
  background-color: #000;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#sleak-btn-container {
  border-radius: 100%;
  background-color: #ffffff; /* fallback color */
}

#sleak-btn-openclosed {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sleak-btn-openclosed img {
  width: 32px;
  cursor: pointer;
  transform-origin: center;
  position: absolute;
}

#sleak-widget-open,
#sleak-widget-closed,
#sleak-button-spinner {
  opacity: 0;
  transform: rotate(-90deg) scale(0.3);
  animation: imageShow 0.3s ease-in-out forwards;
}

#sleak-widget-open.image-hide,
#sleak-widget-closed.image-hide,
#sleak-button-spinner.image-hide {
  animation: imageHide 0.3s ease-in-out forwards;
}

@keyframes imageShow {
  0% {
    opacity: 0;
    transform: rotate(-90deg) scale(0.3);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg) scale(1);
  }
}

@keyframes imageHide {
  0% {
    opacity: 1;
    transform: rotate(0deg) scale(1);
  }
  100% {
    opacity: 0;
    transform: rotate(90deg) scale(0.3);
  }
}

#sleak-button-spinner {
  display: none;
  position: relative;
  width: 16px;
  height: 16px;
  max-width: 16px;
  max-height: 16px;
  border-radius: 50%;
  animation: spin 0.75s linear infinite;
  filter: invert(1);
  /* left: 1px; */
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/**/

#sleak-widget-container {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
}

#sleak-widget-iframe {
  display: block;
  pointer-events: auto !important;
  z-index: 1 !important;
  overflow: hidden;
  min-width: 0;
  border: none;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

#sleak-loader {
  position: absolute;
  height: 16px;
  width: 16px;
  align-self: center !important;
}

.sleak-popup-embed {
  display: none;
  z-index: 9999999999;
  pointer-events: auto;
  cursor: pointer;
  height: auto;
  width: 300px;
  border: 1px solid #f5f5f5;
  background-color: #fff;
  height: auto;
  align-items: flex-end;
  align-content: flex-end;
  border-radius: 20px;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sleak-popup-embed-container {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  padding: 14px 18px;
  gap: 8px;
}

.sleak-popup-embed-headercontainer {
  display: flex;
  width: 100%;
  max-width: 100%;
  justify-content: space-between;
}

.sleak-popup-embed-header {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 6px;
  height: max-content;
}

.sleak-popup-embed-headerwrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.sleak-popup-embed-closebtn {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  border-radius: 8px;
  height: 24px;
  width: 24px;
  align-items: center;
  justify-content: center;
  transition: all ease-in-out .3s;
}
.sleak-popup-embed-closebtn:hover {
  background-color: #f6f6f6;
}

.sleak-popup-embed-closebtn-icon {
  opacity: 0.6;
  height: 22px;
  width: 22px;
}

.sleak-popup-embed-avatar {
  border-radius: 99px;
  height: 16px;
  width: 16px;
}

.sleak-popup-embed-statuswrap {
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

.sleak-popup-embed-statusindicator {
  height: 4px;
  width: 4px;
  border-radius: 99px;
  background-color: #48e385;
  outline: 2px solid rgba(72, 227, 133, 0.3);
}

.sleak-popup-embed-body {
  max-height: none;
  min-height: auto;
  color: #666;
  font-size: 12px;
  line-height: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.sleak-popup-embed-agentname {
  font-size: 12px;
  line-height: 16px;
  color: #757575;
  font-weight: 500;
  max-width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sleak-popup-embed-statuswrap-text {
  color: rgba(51, 51, 51, 0.8);
  font-size: 8px;
  line-height: 12px;
  font-style: normal;
  font-weight: 300;
}

/**/

#popup-list-wrap {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  bottom: 98px;
  transition: height linear;
}

#popup-list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: auto;
  width: auto;
  align-items: end;
  transition: height linear;
}

/* General styling for popup */
#sleak-operatorchanged-popup {
  display: none;
  align-items: center;
  background-color: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 12px;
  padding: 12px 16px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  gap: 12px;
  width: auto;
  cursor: pointer;
  z-index: 9999999999;
  pointer-events: auto;
}

/* Text styling */
#sleak-operatorchanged-text {
  color: #6b6b6b; /* Default text color */
  font-size: 11px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-break: none;
  white-space: nowrap;
}

#sleak-operatorchanged-name strong {
  font-weight: bold;
  color: #000;
}

/**/

#sleak-buttonwrapper {
  height: 64px;
  width: 64px;
  position: relative;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s;
  user-select: none;
  pointer-events: none;
}
#sleak-buttonwrap:hover #sleak-buttonwrapper {
  transform: scale(1.05);
}
#sleak-buttonwrap:active #sleak-buttonwrapper {
  transform: scale(1.03);
}

#sleak-buttonwrap {
  pointer-events: auto;
  z-index: 9999999999999999;
  opacity: 0;
  height: 80px;
  width: 80px;
  bottom: 0;
  right: 0;
  position: absolute;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  display: flex;
  transition: all .5s cubic-bezier(.4, 0, .2, 1);
}

#sleak-buttonwrap.full-chat-widget {
  scale: .2;
  opacity: 0 !important;
  rotate: 90deg;
  pointer-events: none;
}

#sleak-buttonshadow {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  height: 64px;
  width: 64px;
  box-shadow: 0 0px 8px 0px rgba(0, 0, 0, 0.2) !important;
  border-radius: 99px;
  align-self: center;
}

#sleak-widgetwrap {
  pointer-events: none;
  z-index: 999999999;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
  position: fixed;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 0;
  width: 100%;
  height: 100%;
}

#sleak-bgoverlay {
  z-index: 0;
  width: 0;
  height: 0;
  max-height: 0;
  max-width: 0;
}

#sleak-body-embed {
  background-color: #fff;
  box-shadow: 0 25px 50px -12px #00000040;
  height: 100%;
  max-height: 700px;
  pointer-events: auto;
  bottom: 98px;
  border-radius: 20px;
  border: solid 2px #e6e6e6;
  width: 100%;
  max-width: 420px;
  position: absolute;
  overflow: hidden;
  z-index: 99999999;
  min-height: 0;
  opacity: 0;
  transform: translateY(12px);
  transition: all .8s cubic-bezier(.4, 0, .2, 1), border .0s ease-in, border-radius .0s ease-in;
  pointer-events: none;
}

#sleak-body-embed.open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
}

#sleak-widget-open {
  display: none;
}

.sleak-popup-chatinpupt-input-wrapper {
  position: relative;
  display: none;
  border: 2px solid #f0f0f0;
  width: 300px;
  height: auto;
  /* overflow: hidden; */
  border-radius: 16px;
  /* box-shadow: 0 0 10px rgba(0, 2, 4, 0.1); */
  cursor: pointer;
  z-index: 9999999999;
  pointer-events: auto;
}

#sleak-popup-chatinpupt-widget-textarea {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* min-height: 62px; */
  padding: 20px 20px 20px 25px;
  text-align: left;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 22px;
  border: none;
  border-radius: 16px;
}

#sleak-popup-chatinpupt-send-button-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding-right: 15px;
  padding-left: 10px;
  min-height: 62px;
  border: none !important;
}

#sleak-popup-chatinpupt-submit-message-form-button {
  width: 32px;
  height: 32px;
  min-height: 32px;
  min-width: 32px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 15px;
  padding-right: 15px;
  background-image: url('https://cdn.sleak.chat/assets/sendbutton.svg');
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: 46% 48%;
  background-color: var(--sleak-loading-dot-color);
  border-radius: 8px;
}

.sleak-popup-chatinpupt-input-wrapper button {
  border: none !important;
}

.sleak-popup-chatinpupt-input-wrapper textarea {
  resize: none;
  cursor: pointer;
}

.sleak-popup-chatinpupt-input-wrapper textarea:active {
  outline: 3px solid var(--sleak-loading-dot-color) !important;
}
.sleak-popup-chatinpupt-input-wrapper textarea:focus-visible {
  outline: 3px solid var(--sleak-loading-dot-color) !important;
}

#sleak-button-pulse {
  display: none;
  z-index: -1;
  user-select: none;
  position: absolute;
  height: 64px;
  width: 64px;
  right: auto;
  left: auto;
  bottom: auto;
  top: auto;
  border: solid 3px #ee344b;
  opacity: 0;
  border-radius: 98px;
  transition: all 0.1s ease-in;
}
#sleak-buttonwrap:hover #sleak-button-pulse {
  height: 40px;
  width: 40px;
}

#sleak-btn-notification-count {
  display: none;
  height: 18px;
  width: 18px;
  border-radius: 99px;
  outline: 2px solid #fff;
  background-color: #ee344b;
  font-family: montserrat, sans-serif;
  font-size: 10px;
  font-weight: 700;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 999;
  color: #fff;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  transition: all 0.2s ease;
}

@keyframes blink {
  50% {
    fill: transparent;
  }
}
.sleak-loading-dot {
  animation: 1s blink infinite;
  fill: var(--sleak-loading-dot-color);
}
.sleak-loading-dot:nth-child(2) {
  animation-delay: 250ms;
}
.sleak-loading-dot:nth-child(3) {
  animation-delay: 500ms;
}

.sleak-loader {
  background-color: #fff;
  color: grey;
}

#sleak-loader-container {
  background-color: #fff;
  display: none;
  justify-content: center;
  align-items: center;
  /* width: 40px; */
  height: 26px;
  border: 1px solid #f3f3f3;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 8px;
  padding-right: 6px;
  padding-left: 6px;
  margin-right: 12px;
}

@media screen and (max-width: 767px) and (orientation: landscape) {
  #sleak-container {
    display: none !important;
  }
}

@media screen and (max-width: 480px) {
  #sleak-loadingwrap {
    height: 100%;
    width: 100%;
    margin: 0 0 0 0;
    pointer-events: auto;
  }

  #sleak-widget-container {
    inset: 0 !important;
    width: 100% !important;
    height: 100% !important;
  }

  #sleak-widgetwrap {
    z-index: 999999999 !important;
    width: 100vw;
    height: 100% !important;
    height: -webkit-fill-available;
    background-color: rgba(0, 0, 0, 0);
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
    max-height: unset !important;
    box-shadow: unset;
  }

  #sleak-widget-iframe {
    z-index: 1;
    height: 100% !important;
    height: -webkit-fill-available;
    top: 0;
    top: 0px;
    width: 100vw !important;
    min-width: 100vw;
    border-radius: 0;
    border: solid 0px #e6e6e6 !important;
    max-height: 800px;
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.5);
    transition: none !important;
  }

  #sleak-bgoverlay {
    z-index: -1;
    width: 100%;
    height: 150%;
    max-height: none;
    max-width: none;
    min-height: 100%;
    min-width: 100%;
    background-color: rgba(255, 255, 255, 1);
    display: none;
    position: fixed;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: 0;
    overflow: hidden;
  }

  #sleak-body-embed {
    z-index: 999999999999999999;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    z-index: 1;
    max-width: unset !important;
    max-height: unset !important;
    height: 100% !important;
    border-radius: 0;
    border: solid 0px #e6e6e6 !important;
    align-items: flex-end;
  }

  #sleak-buttonwrap {
    z-index: 0;
    inset: unset;
  }

  #sleak-body-embed:focus {
    margin-bottom: 0;
  }
}